
.about{
    width: 100%;
    height: 106vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
    color: var(--font-dark-color-2);
    background-color: var(--background-gray-color);

}
.about h1{
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 50px;
    text-transform: uppercase;

}

.about img{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
}
.about p{
    font-size: 1.2rem;
    font-weight: 500;
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
}