:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: #F1F1F1;
    --background-light-color-2: rgba(3,127,255,.3);
    --background-gray-color:#F0F0F0;
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
}
.contact{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: var(--background-gray-color);
    color: var(--font-light-color);
    width: 100%;
    height: 40vh;
}
.contact h1{
    font-size: 2.5rem;
    color: var(--font-light-color);
}
.contact p{
    font-size: 1.5rem;
    color: var(--font-light-color);
}
.contact Form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
