
:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: #F1F1F1;
    --background-light-color-2: rgba(3,127,255,.3);
    --background-gray-color:#F0F0F0;
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
}
.header{
    /* parallex design */
    background-image: url(../images/peakpx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative; 
    /* background-color: var(--background-light-color-2); */
    height: 90vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    position: fixed;
    height: 100px;
    transition: all .6s ease-in-out;
}
.nav-bg{
    background-color: var(--background-dark-color);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 1s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.infinity{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .4s ease-in-out;
    text-transform: uppercase;
    margin-right: 10px;
}
.name {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
/* .name:before{
    content: "\20B7";
    font-size: 2rem;
    color: var(--primary-color);
} */



.name:hover{
    color: var(--font-light-color);
    cursor: pointer;
}
.navUl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navUl li{
    list-style: none;
    margin-left: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navUl li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all .1s ease-in-out;
    text-transform: uppercase;
}
.navUl li a:hover{
    color: var(--font-light-color);
}
.scrollTop{
    text-decoration: none;
    color: black;
}

.scrollTop:hover::before{
    color: var(--primary-color);
    cursor: pointer;

}


.scrollTopDiv{
    /* width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    top: 600px;
    font-size: 3rem;
    background-color: #007bff; */
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.scrollTop::before{
    content: "\2193";
    /* width: 100px;
    
    color: var(--font-light-color);
    position: relative;
    left: 50%;
    top: 600px; */
    font-size: 2.5rem;
    color: var(--font-light-color);
}

.container{
    position: relative;
    top: 300px;
    left: 450px;
    width: 1000px;
    height: 150px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container h1{
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--white-color);
    letter-spacing: 2px;
}

.container p{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    margin-top: 20px;
}