
.header{
    /* parallex design */
    position: relative; 
    /* background-color: var(--background-light-color-2); */
    height: 100vh;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: .15;
  }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    position: fixed;
    height: 100px;
    transition: all .6s ease-in-out;
}
.nav-bg{
    background-color: var(--background-dark-color);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 1s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.infinity{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .4s ease-in-out;
    text-transform: uppercase;
    margin-right: 10px;
}
.name {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 1s ease-in-out;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: translateX(-300px);
}

.name-show{
    transform: translateX(0px);
    transition: all 1s ease-in-out;
}


/* .name:before{
    content: "\20B7";
    font-size: 2rem;
    color: var(--primary-color);
} */



.name:hover{
    color: var(--font-light-color);
    cursor: pointer;
}
.navUl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transform: translateX(700px);
    transition: all 1s ease-in-out;
}
.navUl-show{
    transform: translateX(0px);
    transition: all 1s ease-in-out;
}

.navUl li{
    list-style: none;
    margin-left: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navUl li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all .1s ease-in-out;
    text-transform: uppercase;
}
.navUl li a:hover{
    color: var(--font-light-color);
}
.scrollAbout{
    text-decoration: none;
    color: black;
}

.scrollAbout:hover::before{
    color: var(--primary-color);
    cursor: pointer;

}


.scrollAboutDiv{
    /* width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    top: 600px;
    font-size: 3rem;
    background-color: #007bff; */
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.scrollAbout::before{
    content: "\2193";
    /* width: 100px;
    
    color: var(--font-light-color);
    position: relative;
    left: 50%;
    top: 600px; */
    font-size: 2.5rem;
    color: var(--font-light-color);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 150px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container h1{
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--white-color);
    letter-spacing: 2px;
}

.container p{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    margin-top: 20px;
}