
/* For devices with a screen width of 600px or less */

@media screen and (max-width: 1500px){
   .flexContainer{
      overflow: auto;
   }
}


@media screen and (max-width: 1200px) {
   .header {
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: center;
       }
       nav{
        display: flex;
        flex-direction: column;

       }
       .container{
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

       }
       .sayHello{
         font-size: 10px;
         text-align: center;
         display: flex;
      }
         .navUl{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--primary-color);
          transform: translateX(-100%);
          transition: transform 0.5s ease-in-out;
         }
         .about{
            margin-top: 0px;
         }
         .about h1{
            font-size: larger;
         }
          .about p{
            font-size: medium;
         } 
         .languages{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 80%;
         }
         .language img{
            width: 80%;

         }
         .myProjectsSection{
            display: flex;
            width: 100%;
            overflow: auto;
         }
         .flexContainer{
            width: 100%;
            height: 100%;
            overflow-y: auto ;
            overflow-x: hidden;
         }
         .item{
            width: 200px;
            height: 200px;
         }
         .overlay{
            width: 100%;
            height: 100%;
         }
         .overlay a{
            font-size: smaller;
         }
         .experience{
            width: 100%;
            height: 100%;
            margin-bottom: 200px;
         }
         .contachText{
            font-size: medium;
         }

}

